/*
 * Style twaks
 * --------------------------------------------------
 */
 body {
    padding-top: 50px;
}
footer {
    padding-left: 15px;
    padding-right: 15px;
}
.container {
    max-width:initial !important;
}
.app-container {
    overflow: hidden;
}
.sidebar {
    width: 250px;
    float: left;
    position: fixed;
    top: 50px;
    margin-bottom: 0px;
    height: 100%;
}
.main-content {
    position: absolute;
    top:50px;
    bottom:0px;
    overflow-y:auto;
    float: initial;
    left: 250px;
    width: initial;
}
.sidebar-nav {
	padding:19px;
    border-radius: 0px;
    overflow-y:auto;
	margin-bottom: 20px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
}
@media screen and (min-width: 992px) {
    .navbar-bg {
        background : transparent url("../img/logo.jpg") no-repeat left top;
    }
}
@media screen and (max-width: 991px) {
    .navbar-bg {
        background : transparent url("../img/logo_md.jpg") no-repeat left top;
    }
}
.sidebar .sidebar-nav {
    height: 100%;
}
.navbar-inverse .navbar-menu-toggle {
    border-color: #333333;
}
.navbar-inverse .navbar-menu-toggle:hover, .navbar-inverse .navbar-menu-toggle:focus {
    background-color: #333333;
}
.navbar-inverse .navbar-menu-toggle .icon-bar {
    background-color: #ffffff;
}
.navbar-inverse .glyphicon {
    color:white;
}
.navbar-menu-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
}
.navbar-menu-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}
.navbar-menu-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
}
.menu-dropdown {
    margin-top: 10px;
    margin-left: -5px;
}
/*
 * Off Canvas
 * --------------------------------------------------
 */
 @media screen and (max-width: 991px) {
    .sidebar-offcanvas {
        
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }

    .main-content {
        
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }

    
    .sidebar {
    	z-index:10000;
    	
        width: 250px;
        float: left;
        position: fixed;
        top: 50px;
        left:-500px;
        margin-bottom: 0px;
        height: 100%;
        display: block;
    }
    .sidebar.active {
    	z-index:10000;
    	display: block;
        width: 250px;
        float: left;
        position: fixed;
        top: 50px;
        left:0px;
        margin-bottom: 0px;
        height: 100%;
    }

    .main-content {
        left: 0px
    }

    .main-content.aside {
    	left: 250px; 
    }
}